<div class="bottom">
  <div class="content-head">latest project</div>

  <mat-grid-list cols="4" rowHeight="1:1">
    <mat-grid-tile [colspan]="2" [rowspan]="2"><app-active-tile></app-active-tile></mat-grid-tile>
    <mat-grid-tile >{{this.f}}</mat-grid-tile>
    <mat-grid-tile (blur)="clickHover()">{{this.s}}</mat-grid-tile>
    <mat-grid-tile (blur)="clickHover()">{{this.t}}</mat-grid-tile>
    <mat-grid-tile (blur)="clickHover()">{{this.c}}</mat-grid-tile>
  </mat-grid-list>
</div>
