.bottom{
  /*display: inline-flex;*/
  /*padding-left: auto;*/
  /*padding-right: auto;*/
  /*width: 100%;*/
  /*padding-bottom: 0;*/
}
.tiles{
 width: 50%;
  display: flex;
  right: 0;
  padding-left: auto;
  position: absolute;
}

.content-head{
  width: 50%;
  display: block;
  padding-top: 150px;
  padding-bottom: 50px;
  background-color: white;
  text-align: center;
  font-family: Roboto;
  font-size: 16pt;
  font-weight: bold;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
mat-grid-listmat-grid-list{
  padding-bottom: 0;
}
mat-grid-tile{
  background-color: #9fc5c8;
}

mat-grid-tile:hover{
  background-color: darkgray;
}

.sanatorium{
  background-image: url("/images/sntr.gif");
}
