<!--<button mat-button [matMenuTriggerFor]="menu">Menu</button>-->
<!--<mat-menu #menu="matMenu">-->
  <!--<button mat-menu-item>Item 1</button>-->
  <!--<button mat-menu-item>Item 2</button>-->
<!--</mat-menu>-->
<mat-toolbar class="toolbar">
  <button mat-button class="btn" *ngFor="let e of events1">{{e}}</button>
  <span class="fill-remaining-space"></span>
  <button mat-icon-button class="btn icon-btn" *ngFor="let e of events2">{{e}}</button>
  <button mat-icon-button class="burger" (click)="sendToParent()">menu</button>
</mat-toolbar>
