.toolbar {
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  color: white;

  padding: 50px;
  padding-top: 60px;
  text-transform: uppercase;
  background-color: #0074df;
  letter-spacing: 0.05em;
}
@media (min-width: 1180px) {


  .activebtn {
    font-size: 16px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  .fill-remaining-space {
    flex: 1 1 auto;
  }

  .btn {
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    text-transform: uppercase;
  }
  .icon-btn {
    font-size: 8px;
    text-transform: lowercase;
  }
  .burger{
    visibility: hidden;
  }
}

@media (min-width: 481px) and (max-width:1180px) {
  .btn,activebtn {
   display: none;
  }
  .burger{
    visibility: visible;
    display: flex;
    margin-left: auto;
    margin-right: 1ch;
  }
  .fill-remaining-space {
    flex: 1 1 auto;
  }
}
@media (max-width:480px) {
  .btn,activebtn {
    display: none;
  }
  .burger{
    visibility: visible;
  }
}
