.header{
  background-color: #0074df;

  padding-left: 16%;
  padding-right: 16%;
  background-image: url("/images/top-bg.jpg");
  /** заливка по размеру **/
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 1020px;
}

.title{
  padding-top: 0px;
  text-align: center;
  font-family: Roboto,"Helvetica Neue",sans-serif;
  text-transform: uppercase;
  font-size: 48px;
  color: white;
  letter-spacing: 0.12em;
}

.blazon{
  padding-top: 186px;
  display: flex;
  justify-content: center;
}

