<div class="header">
  <div class="blazon">
  <img src="images/blazon.png"  align="center">
  </div>
  <h1 class="title">welcome to ulyanovsk</h1>

  <app-general-button text = "view-features"></app-general-button>

</div>
