
<app-menu (visibleSideNav)='setVisibleSideNav($event)' [events1]="events1" [events2]="events2"></app-menu>

<app-sidenav [shouldRun]="this.opened" [events1]="events1" [events2]="events2">loading</app-sidenav>

<app-header></app-header>

<app-mid></app-mid>

<app-tiles></app-tiles>
