.container {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 33%;
  height: 100%;

}

.events {
  overflow: auto;
  border: 1px solid #555;
}
 .menu-button{
   width: 100%;
   color: #0074df;
   font-size: 16px;
   font-weight: normal;
   text-transform: uppercase;
   text-align: left;
   padding: 20px;
 }
@media (min-width: 1180px) {
  .container{
    visibility: hidden;
  }
}
