<mat-sidenav-container class="container" *ngIf="shouldRun">

  <mat-sidenav>Start</mat-sidenav>
  <button mat-button class="menu-button" *ngFor="let e of events1" (click)="clickHandler(e)">{{e}}</button>

  <div></div>

  <button mat-button class="menu-button" *ngFor="let e of events2">{{e}}</button>

</mat-sidenav-container>
