
.cards{
  display: inline-flex;
  padding-left: 16%;
  padding-right: 16%;
  width: 68%;
  padding-top: 100px;
  font-family: Roboto;
  text-transform: uppercase;
}

.custom-card{
  text-align: center;
  margin: 2%;
  width: 30%;
  padding: 3%;
  display: block;
  cursor: pointer;
  opacity: .65;
}
.custom-card:hover{
  opacity: .86;
}

.custom-card h3{
font-max-size: 12px;
padding-top: 30px;
padding-bottom: 30px;
font-weight: normal;
letter-spacing: 0.07em;
color: #243d54;
}

.ulyanovsk{
  padding-left: 16%;
  padding-right: 16%;
  font-family: Roboto;
  text-transform: uppercase;
}

.ulyanovsk h2{
  padding-top: 120px;
  font-size: 28pt;
  text-align: center;
  margin: 0;
  letter-spacing: 0.07em;
}

.small-txt{
  font-size: 8pt;
  color: #919191;
  text-align: center;
  margin: 0px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.2em;
}
.content-txt{
  max-width: 60%;
  padding-top: 14px;
  font-size: 12pt;
  color: darkgray;
  text-align: center;
  margin: auto;
  letter-spacing: 0.08em;
  line-height: 1.4em;

  z-index: -1;
}
