<div class="ulyanovsk">
  <div>
  <h2>{{head}}</h2>
  <p class="small-txt">{{subhead}}</p>
  </div>
  <div class="content-txt">{{content}}</div>
</div>

<div class="cards">
  <div class="custom-card">
    <img src="{{clause1.img}}" alt="" class="icon">
    <h3>{{ clause1.head }}</h3>
    <p class="small-txt">{{ clause1.content }}</p>
  </div>


  <div class="custom-card">
    <img src="{{clause2.img}}" alt="" class="icon">
    <h3>{{ clause2.head }}</h3>
    <p class="small-txt">{{ clause2.content }}</p>
  </div>

  <div class="custom-card">
    <img src="{{clause3.img}}" alt="" class="icon">
    <h3>{{ clause3.head }}</h3>
    <p class="small-txt">{{ clause3.content }}</p>
  </div>

</div>
