#dark{
  margin-top: 60px;
  color: white;
  text-transform: uppercase;
  border-radius: 0px;
  margin-bottom: 100px;
  padding-right: 50px;
  letter-spacing: 0.09em;
  background: #003666 url("/images/arr-white.svg") no-repeat right;
  width: 240px;
  height: 52px;
  font-weight: bold;
}
#clear{
  margin-top: 60px;
  color: black;
  background-color: #c4c8c5;
  border-radius: 0;
  text-transform: uppercase;
  margin-bottom: 100px;
  padding-right: 50px;
  letter-spacing: 0.09em;
  background: #c4c8c5 url("/images/arr-white.svg") no-repeat right;
  width: 240px;
  height: 52px;
  font-weight: bold;
}
.button-div{
  display: flex;
  justify-content: center;
}
